---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Bree+Serif&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&display=swap);

$lely-red: #c30a14;
$lely-red-dark: #850c18;
$grey-dairy-dark: #cfcbc3;
$grey-dairy: #dedbd6;
$grey-dairy-light: #efedea;

$serif: "Bree Serif", serif;
$sans-serif: "Ubuntu", sans-serif;

// Chosen such that $lighter-gray equals #efedea (Grey Dairy Light).
$gray: #5f4b2d;

$primary-color: #333;
$warning-color: $lely-red;
$info-color: $gray;

$link-color: $lely-red;
$link-color-hover: $lely-red-dark;
$masthead-link-color-hover: $link-color-hover;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-teaser {
  img {
    height: 224px;
    width: auto;
  }
}

.btn {
  &--primary-outline {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:visited {
      color: $primary-color;
    }

    &:hover {
      @include yiq-contrasted($primary-color);
    }
  }
}

.greedy-nav {
  background-color: $footer-background-color;
  .visible-links {
    a:before {
      background: $masthead-link-color-hover;
    }
  }
}

.masthead {
  background-color: $footer-background-color;
}
